<p>
    <h2> Nuevo articulo. </h2>
</p>


<ul class="blocks-2">

    <li>

            <div class="unit-centered unit-70">
                <%= render :partial => "form.html" %>

        </div>

    </li>
    <li>
        <fieldset>
            <legend>
            Sube un objeto
            </legend>
            <p>Si encuentras un objeto y buscas su dueño esta puede ser la forma de hacerle saber al dueño que aun puede recuperarlo.
            </p>
        </fieldset>
        <fieldset>
            <legend>
                Encuentra tus objetos
            </legend>
            <p>
                Si encuentras un objeto que te pertenece, contacta con la persona que lo subio para poder recuperarlo.
            </p>

        </fieldset>

    </li>
</ul>



