<div class="units-row">
	<div class="unit-20">

		<pre><h3>Objetos</h3></pre>

		<nav class="nav nav-stacked">
			<ul>
				<li><a href="#" data-theme="blue" data-tools="tooltip" title="Ingresar un objeto"> Encontre un objeto</a></li>
			</ul>
		</nav>

		<div data-tools="accordion">

			<a href="#panel1" class="accordion-title">Categorias</a>
			<div id="panel1" class="accordion-panel">
				
			</div>

		</div>

	</div>



	<div class="unit-80">
		
	Welcome PAstusos


	</div>
</div>
