<div class="page-header">
  <h2>Modificar usuario <%= @user.nombre.capitalize%><small> modificacion y/o actualizacion de datos</small></h2>
</div>
<%= render :partial => "formulario_guardar_usuarios.html" %>
