<div class="page-header">
  <h2><%= I18n.t('users.edit.title')%> <%= @user.nombre.capitalize%><small> <%= I18n.t('users.edit.titleT')%></small></h2>
</div>
<%= render :partial => "formulario_guardar_usuarios.html" %>
