<p>
	<h2> Registrate gratis, encuentra y ayuda. </h2>
</p>


<ul class="blocks-2">

	<li>

			<div class="unit-centered unit-70">
				<%= render :partial => "formulario_guardar_usuarios.html" %>

		</div>

	</li>
	<li>
		<fieldset>
			<legend>
			Sube un objeto
			</legend>
			<p>Si encuentras un objeto y buscas su dueño esta puede ser la forma de hacerle saber al dueño que aun puede recuperarlo.
			</p>
			<%= link_to "Ingresar",  login_iniciar_sesion_path, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Ya estas registrado, empieza a subir' , :'class' => 'btn btn-blue'%>
		</fieldset>
		<fieldset>
			<legend>
				Encuentra tus objetos
			</legend>
			<p>
				Si encuentras un objeto que te pertenece, envia las razones por las cuales crees que es tuyo y por ultimo ponte en contacto con la persona que lo recupero.
			</p>

			<%= link_to "Inicio", root_path, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Ir a inicio' , :'class' => 'btn'%>

		</fieldset>

	</li>
</ul>





