/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme
 */

 body {
  background: #f7f7f7;
}
.nav-stacked a {
  background: white;
  border-right: 1px solid #e0e3e5;
  border-bottom: 1px solid #e0e3e5;
}

.btn-n {
  background: white;
  border-right: 1px solid #e0e3e5;
  border-bottom: 1px solid #e0e3e5;
}
.navbar-gray-example {
  background: #e0e3e5;
}
.nav-tabs a, .nav-tabs span {
  display: block;
  line-height: 1;
  padding: .825em 1.65em;
  border: 1px solid transparent;
  background: white

}
.nav-tabs li.active a, .nav-tabs span {
  color: #0f0f0f;
  background: #f7f7f7;
  position: relative;
  border: 1px solid #ddd;
  border-bottom: 1px solid #f7f7f7;
  bottom: -1px;
  cursor: default;
  text-decoration: none;
}
.navigation-fixed.navbar-gray-example {
  padding: 10px 15px 0px 15px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
}
.navigation-fixed.navbar-black-example {
  padding: 0
}
.navigation-fixed.navbar-black-example a {
  padding: 12px 15px
}
.navigation-fixed.navbar-black-example .dropdown-in, .navigation-fixed.navbar-black-example .dropdown-in:hover {
  background: #fff;
  color: #000
}
.navbar-gray-example {
  padding: 10px 15px 0px 15px
}
.navbar-gray-example a, .navbar-gray-example a:hover {
  color: #000
}
.navbar-gray-example li.active a, .navbar-gray-example span {
  color: rgba(0, 0, 0, 0.3)
}
.navbar-black-example {
  background: #000
}
.navbar-red-example {
  background: blue
}
.navbar-black-example, .navbar-red-example {
  padding: 0px 0px 0px
}
.navbar-black-example a, .navbar-red-example a, .navbar-black-example a:hover, .navbar-red-example a:hover {
  color: #fff
}
.navbar-black-example li.active a, .navbar-red-example li.active a, .navbar-black-example span, .navbar-red-example span {
  color: rgba(255, 255, 255, 0.5)
}
.navbar-pills-black-example {
  background: #000;
  padding: 20px 15px 0px 15px;
}
.navbar-pills-black-example a {
  color: #fff;
  text-decoration: none;
}
.navbar-pills-black-example a:hover {
  background: #f7f7f7;
  color: #000;
  text-decoration: none;
}
.navbar-pills-black-example li.active a, .navbar-pills-black-example span {
  background: #363738;
  color: rgba(0, 0, 0, 0.8);
}
.navbar-pills-red-example {
  background: #de2c3b;
  padding: 10px 15px 0px 15px
}
.navbar-pills-red-example a {
  color: #fff
}
.navbar-pills-red-example a:hover {
  background: #fff;
  color: #000
}
.navbar-pills-red-example li.active a, .navbar-pills-red-example span {
  background: #fff;
  color: rgba(0, 0, 0, 0.8)
}
.navbar-pills-gray-example a {
  background: #f0f1f2;
  color: #000
}
.navbar-pills-gray-example a:hover {
  background: #e0e3e5
}
.navbar-pills-gray-example li.active a, .navbar-pills-gray-example span {
  background: #f7f8f8;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px #888 inset
}
.navbar-pills-blue-example a, .navbar-pills-blue-example span {
  border-radius: 50px
}
.navbar-pills-blue-example a {
  color: #000;
  text-decoration: none
}
.navbar-pills-blue-example a:hover {
  background: #f0f1f2;
  text-decoration: none
}
.navbar-pills-blue-example li {
  margin-right: 3px
}
.navbar-pills-blue-example li.active a, .navbar-pills-blue-example span {
  background: #2575ed;
  color: rgba(255, 255, 255, 0.7)
}

.postImg{
  background: white; border-top-right-radius: 50px;
  border-top-left-radius: 50px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
  border-right: 2px solid #e0e3e5;
  border-bottom: 2px solid #e0e3e5;
}

.languaje a{
  text-decoration: none;
}

/* unvisited link */
.languaje a:link {
    color: #000000;
}

/* visited link */
.languaje a:visited {
    color: #134DA5;
}

/* mouse over link */
.languaje a:hover {
    color: #134DA5;
}

/* selected link */
.languaje a:active {
    color: #134DA5;
}